.eqc-block {
    height: 14px;
    background-color: #f6f6f6;
}

.van-action-sheet {
    padding-top: 30px;

    &::before {
        content: '';
        width: 76px;
        height: 8px;
        background: #f6f6f6;
        border-radius: 4px;
        position: absolute;
        top: 21px;
        left: 50%;
        transform: translate(-50%, 0);
        border-bottom: none;
        // display: none;
    }

    .van-action-sheet__gap {
        display: none;
    }

    .van-action-sheet__item,
    .van-action-sheet__cancel {
        width: 667px;
        height: 84px;
        background-color: #f6f6f6;
        line-height: 84px;
        border-radius: 45px;
        margin: 0 auto 28px;
        padding: 0;
    }

    .van-action-sheet__item {
        color: #3C3C3C
    }

    .van-action-sheet__cancel {
        color: #888
    }
}

.has-title-action-sheet {
    .van-action-sheet__header {
        line-height: 50px;
        padding-top: 30px
    }

    .van-action-sheet__close {
        display: none;
    }

    .van-action-sheet__description {
        color: #888 !important;
        padding: 20px 0 60px !important;
        ;
    }

    .van-action-sheet__content {
        .van-action-sheet__item:nth-of-type(1) {
            .van-action-sheet__name {
                color: #FF1E32
            }
        }
    }
}

.van-action-sheet__description {
    color: #888 !important;

    &::after {
        display: none;
    }
}

.eqc-search {
    .van-search__action {
        font-size: 30px;
        font-family: PingFangSC-Regular, PingFang SC;
        color: $primary-color;
    }
}

.zdxlz-skin-black {
    .dartNight {
        background: #1A1A1A;

        .van-nav-bar {
            background: #1A1A1A !important;

            .back-icon {
                filter: brightness(100);
            }

            .van-icon {
                color: #fff;
            }

            .van-nav-bar__title {
                color: #fff;
                font-weight: 600;
                font-size: calc(var(--base-font-size) * 16);
            }
        }

        .eqc-search {
            .van-search__content {
                background: #282828 !important;
            }

            input::input-placeholder {
                color: #888888 !important;
            }

            ::-webkit-input-placeholder {
                /* WebKit browsers */
                color: #888888 !important;
            }

            :-moz-placeholder {
                /* Mozilla Firefox 4 to 18 */
                color: #888888 !important;
            }

            ::-moz-placeholder {
                /* Mozilla Firefox 19  */
                color: #888888 !important;
            }

            :-ms-input-placeholder {
                /* Internet Explorer 10  */
                color: #888888 !important;
            }
        }

        .eqc-scrollbar {
            background: #1A1A1A;
        }

        .eqc-block {
            background-color: #121212 !important;
        }

        .eqc-tags {
            margin-top: 189px;
            position: relative;
            width: calc(100vw - 84px);
            height: 54px;
            white-space: nowrap;
            overflow-x: scroll;
            display: block;
            margin-left: 42px;
            margin-right: 42px;
            padding-top: 15px;

            &::-webkit-scrollbar {
                display: none;
            }

            .eqc-tag {
                position: relative;
                display: inline-block;
                //   flex: 1;
                height: 54px;
                line-height: 54px;
                border-radius: 29px;
                font-size: 28px;
                text-align: center;
                padding: 0px 21px;
                margin-left: 28px;
                letter-spacing: 4px;

                &.active {
                    background: #316EF4 !important;
                    font-weight: bolder !important;
                    color: #fff !important;
                }

                &.default {
                    background: #282828;
                    color: #888888;
                }
            }
        }

        .van-cell {
            background-color: #1A1A1A;

            .van-cell__title>span {
                color: #fff !important;
            }

            &::after {
                border-bottom: 1px solid #464646
            }
        }
    }

    [class*=van-hairline]::after {
        border-color: #464646 !important;
    }

    .van-picker {
        background: #1A1A1A;
    }

    .van-picker-column__item {
        color: #fff;
    }

    .van-picker__mask {
        background-image: linear-gradient(180deg, rgba(#1a1a1a, 0.9), rgba(#1a1a1a, 0.6)), linear-gradient(-180deg, rgba(#1a1a1a, 0.3), rgba(#1a1a1a, 0.6));
    }

    .van-popup {
        background-color: #282828;
    }

    .van-action-sheet {
        &::after {
            background: #3C3C3C;
        }

        .van-action-sheet__header {

            color: #fff
        }

        .van-action-sheet__item,
        .van-action-sheet__cancel {
            background-color: #1a1a1a;
        }

        .van-action-sheet__item {
            color: #fff
        }

        .van-action-sheet__cancel {
            color: #888
        }

        .van-action-sheet__description {
            color: #fff;
        }

        .van-action-sheet__gap {
            background-color: #1a1a1a;
        }
    }

    .has-title-action-sheet {
        .van-action-sheet__description {
            color: #888 !important;
        }
    }

    .van-dialog {
        background: #282828;
        color: $yx-font-1 !important;

        .van-dialog__header {
            color: #fff;
            padding: 40px 0 30px;
        }

        .van-dialog__message--has-title {
            color: #fff;
        }

        .van-dialog__footer {
            .van-button--default {
                background: #282828;
            }

            .van-button__text {
                color: #62A3F4
            }
        }
    }
}

.zdxlz-skin-white {}