$border-color: var(--ZDXLZ-BORDER);
$border-color-1: var(--ZDXLZ-BORDER-1);
$border-black-color: var(--ZDXLZ-BORDER);

$primary-color: var(--ZDXLZ-PRIMARY);
$error-color: var(--ZDXLZ-FONT-5);
$primary-background-color: var(--ZDXLZ-BG);
$black-background-color: var(--ZDXLZ-BG);

$yx-font-white-1: var(--ZDXLZ-FONT-1);          // (白色主题)一级文字
$yx-font-white-2:  var(--ZDXLZ-FONT-2);          // (白色主题)二级文字
$yx-font-black-1:  var(--ZDXLZ-FONT-1);            // (黑色主题)一级文字
$yx-font-black-2:  var(--ZDXLZ-FONT-2);              // (黑色主题)二级文字




$yx-font-BOLD: var(--ZDXLZ-FONT-BOLD);    // 设计稿加粗字体，代码不加粗
$yx-font-1: var(--ZDXLZ-FONT-1);
$yx-font-2: var(--ZDXLZ-FONT-2);
$yx-font-3: var(--ZDXLZ-FONT-3);
$yx-font-4: var(--ZDXLZ-FONT-4);
$yx-font-5: var(--ZDXLZ-FONT-5);
$yx-font-6: var(--ZDXLZ-FONT-6);
$yx-font-7: var(--ZDXLZ-FONT-7);
